<h1>Crear Nuevo Empleado</h1>
<table>
<form action="/empleado/crear" method="POST" enctype="multipart/form-data">
  <tr>
  <td>
  <label for="nombre">Nombre:</label>
  </td>
  <td>
  <input type="text" id="nombre" name="nombre" required>
  </td>
  </tr>
  <tr>
  <td>  
  <label for="edad">Edad:</label>
  </td>
  <td>
  <input type="number" id="edad" name="edad" required>
  </td>
  </tr>
  <tr>
  <td>  
  <label for="rol">Rol:</label>
  </td>
  <td>
  <input type="text" id="rol" name="rol" required>
  </td>
  </tr>
  <tr>
  <td>  
  <label for="imagen">Imagen:</label>
  </td>
  <td>
  <input type="file" id="imagen" name="imagen" accept=".jpg, .jpeg, .png" required>
  </td>
  </tr>
  <tr>
  <td>  
  <button type="submit">Crear Empleado</button>
  </td>
  </tr>
</form>
</table>