<h2>{{title}}</h2>
<p>{{message}}</p>
<div class="listaalumnos">
<ul>
    <li>Luis Martinez</li>
    <li>Javier Zubillaga</li>
    <li>Juan Cruz Legarra</li>
    <li>Martin Ruiz Espil</li>
    <li>Renato Guille</li>
    <li>Sandra Ibarra</li>
</ul>
</div>