<nav>
  <ul class="nav">
    <li><a id="home" href="/"> Home </a></li>
    <li><a id="nosotros" href="/nosotros"> Nosotros </a></li>
    <li><a id="empleado" href="/empleado"> Lista empleados </a></li>
    <li><a id="crear" href="/empleado/crear"> crear empleado </a></li>
  </ul>
</nav> 